<div class="main-menu">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/foodtable" 
	  			(click)="setActivebutton('foodtable')"
	  			[ngClass]="{'active':activButton === 'foodtable'}">Foodtable</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarShown}">
      	<ul class="navbar-nav">
	        <li class="nav-item ">
	          	<a class="nav-link" routerLink="/foodtable" 
		  			(click)="setActivebutton('foodtable')"
		  			[ngClass]="{'active':activButton === 'foodtable'}">Home</a>
	        </li>
	        <li class="nav-item">
	          	<a class="nav-link" routerLink="/product" 
	  			(click)="setActivebutton('product')"
	  			[ngClass]="{'active':activButton === 'product'}">Add product</a>
	        </li>
	        <li class="nav-item">
	          	<a class="nav-link" routerLink="/meal" 
	  		  	(click)="setActivebutton('meal')" 
	  		  	[ngClass]="{'active':activButton === 'meal'}">Add meal</a>
	        </li>
	        <li class="nav-item">
	          	<select class="form-control form-control-sm" 
	          			[(ngModel)]="foodTable.peopleNumber" 
	          			(ngModelChange)="changePeopleNumber()"
	          			*ngIf="foodTable">
	          		<option value="1">1</option>
	          		<option value="2">2</option>
	          	</select>
	        </li>
      	</ul>
    </div>
  </nav>
</div>
