.table-caption{
	padding: 5px 5px;
	text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    transform: rotate(-90deg);
}

.meal-selector{
	height: 30px;
	line-height: 30px;
}
.food-table-row{
	margin-bottom: 3px;
}
.food-table-col{
	display: inline-block;
	width: 30px;
}
.add-meal-selector{
	display: inline-block;
	width: 157px;
}
.food-table-col:nth-child(1){
	width: 180px;
}
.food-table-col.meal-col fa{
	opacity: 0;
	transition: opacity .15s;
}
.food-table-col.meal-col:hover fa{
	opacity: 1;
}
.food-table-col:not(:last-child){
	margin-right: 5px;
}
.add-meal-button{
	background: none;
    border: none;
    box-shadow: none;
    padding: 0;
}
.food-table-product-item{
	display: inline-block;
	height: 0;
	white-space: nowrap;
	padding-top: 90px;
	margin-bottom: -30px;
}
.food-table-product-item span{
	transform: rotate(-70deg);
	transform-origin: left top 0;
	display: inline-block;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.meal-form .product-list-lable{
	padding-top: 72px;
}
