<ngx-loading [show]="pageLoading > 0" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div *ngIf="products && meals && foodTable && mealTypes" class="food-table">
  
    <div class="food-table-row">
        <div class="food-table-col">
            <form [formGroup]="mealForm" (ngSubmit)="addMealToFoodTable()">
                <button type="submit" class="add-meal-button" [ngClass]="{'transparent': !mealForm.valid}">
                    <fa name="plus-circle" class="clickable text-success" size="lg" role="button"></fa>  
                </button>
                <div class="add-meal-selector">
                    <select class="form-control form-control-sm" formControlName="selectedMealId" [ngClass]="{'has-error': mealForm.touched && mealForm.invalid}">
                        <option *ngFor="let meal of meals" [value]="meal.id">{{meal.name}}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="food-table-col food-table-product-item" *ngFor="let product of products">
            <span routerLink="/product/{{product.id}}" title="edit" class="clickable">
    				{{product.product}}
    		</span>
        </div>
    </div>

    <div class="food-table-row" *ngFor="let meal of foodTable.mealList; let i = index">
        <div class="food-table-col meal-col clickable" title="edit" 
              routerLink="/meal/{{findMeal(meal).id}}" 
              droppable (onDrop)="changeMealsOrder(i)"
              [dropScope]="'meal'">
            <div draggable (onDrag)="setDragableMeal(i)" [dragScope]="'meal'">
                <fa name="times-circle" class="clickable text-danger" size="lg" (click)="deleteMealFromTable(meal)" role="button"></fa>
                {{findMeal(meal).name}}
            </div>
        </div>
        
        <div class="food-table-col" *ngFor="let product of products">
          	<div class="bg-primary text-white rounded text-center meal-selector" *ngIf="findMeal(meal).productList.indexOf(product.id) >= 0">
              {{product[findMealType(findMeal(meal).type).name]*foodTable.peopleNumber}}
            </div>
          	<div class="bg-dark text-dark rounded text-center meal-selector" *ngIf="findMeal(meal).productList.indexOf(product.id) < 0">.</div>
        </div>
    </div>
    <div class="food-table-row">
        <div class="food-table-col">total</div>
        <div class="food-table-col" *ngFor="let value of totalForProduct">
            {{value}}
        </div>
    </div>
</div>
