<div class="product-form">
	<form [formGroup]="productForm" (ngSubmit)="submitProduct()">
		<div class="form-group row">
		    <label class="col-sm-2 col-form-label">Product name</label>
		    <div class="col-sm-5 col-md-3">
		      <input type="text" class="form-control" placeholder="Product name" formControlName="product"
		      		 [ngClass]="{'has-error': productForm.controls.product.touched && productForm.controls.product.invalid}">
		    </div>
		</div>
		<div class="form-group row">
		    <label class="col-sm-2 col-form-label">Product soup</label>
		    <div class="col-sm-5 col-md-3">
		      <input type="number" class="form-control" placeholder="Product soup" formControlName="soup"
		      		 [ngClass]="{'has-error': productForm.controls.soup.touched && productForm.controls.soup.invalid}">
		    </div>
		</div>
		<div class="form-group row">
		    <label class="col-sm-2 col-form-label">Product porridge</label>
		    <div class="col-sm-5 col-md-3">
		      <input type="number" class="form-control" placeholder="Product porridge" formControlName="porridge"
		      		 [ngClass]="{'has-error': productForm.controls.porridge.touched && productForm.controls.porridge.invalid}">
		    </div>
		</div>
		<div class="form-group row">
		    <div class="col-sm-2">
		      <button type="submit" class="btn btn-block btn-primary">Submit</button>
		    </div>
		</div>
	</form>	
</div>
