<div class="meal-form">
	<form [formGroup]="mealForm" (ngSubmit)="submitMeal()">
		<div class="form-group row">
		    <label class="col-sm-2 col-form-label">Meal name</label>
		    <div class="col-sm-5 col-md-3">
		      <input type="text" class="form-control" placeholder="Meal name" formControlName="name" 
		      		 [ngClass]="{'has-error': mealForm.controls.name.touched && mealForm.controls.name.invalid}">
		    </div>
		</div>
		<div class="form-group row" *ngIf="mealTypes">
		    <label class="col-sm-2 col-form-label">Meal type</label>
		    <div class="col-sm-5 col-md-3">
		      <select formControlName="type" class="form-control" 
		      		  [ngClass]="{'has-error': mealForm.controls.type.touched && mealForm.controls.type.invalid}">
		         <option *ngFor="let meal of mealTypes" [value]="meal.id">{{meal.name}}</option>
		      </select>
		    </div>
		</div>
		<div class="form-group row">
		    <label class="col-sm-2 col-form-label product-list-lable">Product list</label>
		    <div class="col-sm-10">
		      <span class="meal-products" *ngFor="let product of products" (click)="toggleProduct(product.id)">
		      	<button title="{{product.product}}" type="button" class=" btn btn-sm btn-primary" 
		      			[ngClass]="{'btn-dark' : mealForm.controls.productList.value && mealForm.controls.productList.value.indexOf(product.id) < 0}"> 
		      		{{product.product}} 
		      	</button>
		      </span>
		    </div>
		</div>
		<div class="form-group row">
		    <div class="col-sm-2">
		      <button type="submit" class="btn btn-block btn-primary">Submit</button>
		    </div>
		</div>
	</form>
	
</div>
