.meal-form .meal-products{
	display: inline-block;
	width: 40px;
	height: 0;
	white-space: nowrap;
	padding-top: 90px;
}
.meal-form .meal-products button{
	transform: rotate(-70deg);
	transform-origin: left top 0;
	display: inline-block;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.meal-form .product-list-lable{
	padding-top: 72px;
}
