/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.has-error{
	border-color: red!important;
}
.clickable{
	cursor: pointer;
}
.transparent{
	opacity: 0;
}
